name: Re-usable file

on: workflow_call

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: deploy to maven central
        run: echo "Deploying to from other file"
