name: Practice github actions
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: main

      - name: Run a test command
        run: echo "Testing successfully"

  deploy:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: deploying code
        run: echo "Deployment successful"