name: input-and-output-params
on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the environment'
        required: true
        default: 'production'
        type: choice
        options:
          - production
          - staging
          - development
      Tag:
        description: 'Enter the tag name'
        required: true
        default: 'v1.0.0'
        type: choice
        options:
          - @test
          - @latest
          - @v1.0.0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run a test command
        run: echo "Testing successfully" in ${{ github.event.inputs.environment }} environment